.container_signup {
    max-width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #fef3f3, #ffffff)
}
.signup_header {
    padding: 0px;
    gap: 4px;
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
font-family: sans-serif;
margin-bottom: 30px;
}
.signup_header h1 {
    font-weight: 700;
    color: #121942;
}
.signup_header p {
    font-size: 20px;
}
.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}
.social p {
    font-size: 15px;
    font-weight: 400;
    font-family: arial;
}
.google{
    width: 210px;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #b3b4b5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google img {
    width: 30px;
}
.apple {
    width: 210px;
    cursor: pointer;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #b3b4b5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apple img {
    padding-right: 5px;
}
.or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 75%;
    font-size: 20px;
    margin-bottom: 20px;
}
.or p {
    width: -webkit-fill-available;
}
.social__hr {
    margin: 0px ;
    width: 520px;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    width: 445px;
}
.form-control {
    border: 1px solid gray;
    width: 100%;
    border-radius: 10px;
    height: 60px ;
    outline: none;
    padding: 0 30px;
}
.form-control::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.remember {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}
.remember__select {
    width: 25px;
    margin: 0 10px;
}
.remember p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #121942;
}
.forget-pass {
    position: absolute;
    right: 0;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}
.sy {
    color: white;
    background-color: #0092C8;
    height: 55px;
    border-radius: 15px;
}
.alreadyhave {
    display: flex;
    width: 55% ;
    margin: auto;
    align-items: center;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
    gap: 5px;
}
