.image {
    flex: 0.5;
    background-image: url('./banner.png');
    background-repeat: no-repeat;
    background-size: 770px;
    position: relative;
}

.content-img {
    position: absolute;
    bottom: 50px;
    left: 52px;
    margin-right: 20px;
}

.image__content {
    width: 90%;
    border-radius: 10px;
    background-color: #0092C8;
    color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.vertical_line {
    border-left: 4px solid #4b42f5;
    height: 100px;
    padding-right: 20px;
}
.content > p {
    font-size: 18px;
}


@media screen and (max-width: 959px) {
    .image {
        flex: none;
    background-image: none;
    background-size: 0px ;
    background-repeat: unset;
    position: unset;
    }
    .content-img {
        position: relative;
        bottom: 0px;
        left: 0px;
        margin: 0px;
    }
    .image__content {
        width: 100%;
    }
    .content p {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .image{
        flex: none;
    }
    .content p {
        font-size: 14px;
    }
}