.App {
  display: flex;
  background-color: #F5F5F5;
  color: #121942;
  margin-left: 150px !important;
}

p {
  padding-bottom: 0px !important;
}

input:-webkit-autofill, input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #fffafa inset;
}